<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RoamRR</title>
    <!-- ***** CSS ****** -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body ng-app="roamrrApp">

<div class="splash">

            <span class="logo bpad lineImage"> Roamrr</span>
<h1 class= "tpad lineImage">Travel Like a Local</h1>
Do you love exploring new places, and want a activity guide to help you hit the ground running when you get there? Join Roamrr and quickly get the scoop on your travel destinations.

<img class= "lineImage" src="images/line.png">
 <div id="dotcontainer">
  <div class="dot"></div>
  <div class="pulse"></div>
</div>

</div>
        <!-- End Of Choices-Div -->



        <!-- ***** SCRIPTs ****** -->
</body>

</html>