<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RoamRR</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- jQuery -->
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
</head>

<body>
<div class="teambackground">
    <div Class="temahdline">
    <h1>The Team</h1>
    <hr style="width:75%;"">
    </div>
<div class="teamdiv">
    <div id="nate">
    <img src="views/images/nate.png">
    <h4>Nathan Leibowitz</h4>
    <div class="para">
      Obsessive about building a better search engine, dry code and morning burritos.
    </div>
    <a href="https://github.com/nleibow"><img src="views/images/GitHub-Mark.png"></a>
        <a href="https://www.linkedin.com/in/nathan-leibowitz"><img src="views/images/linkedin.png"></a>
    </div>
    <div id="clay">
    <img src="views/images/clay.png">
    <h4>Clay Smith</h4>
    <div class="para">
       Can non-chalantly configure a full-stack backend with a 70 lb. Black Lab spread across his keyboard.
    </div>
        <a href="https://github.com/git-clay"><img src="views/images/GitHub-Mark.png"></a>
        <a href="https://www.linkedin.com/in/claytonsmithdeveloper"><img src="views/images/linkedin.png"></a>
    </div>
    <div id="gisella">
    <img src="views/images/gisella.png">
    <h4>Gisella Walter</h4>
     <div class="para">
       Regularly dreams about rearranging her living room using flexboxes, remembers when flash pre-loaders were de rigueur.
    </div>
        <a href="https://github.com/GisellaBella"><img src="views/images/GitHub-Mark.png"></a>
        <a href="https://www.linkedin.com/in/gisellawalter"><img src="views/images/linkedin.png"></a>
    </div>
</div>    
</div>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  
    
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- Angular / Angular-router -->
    <script src='/bower_components/angular/angular.min.js'></script>
    <script src='/bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>

    <script src="/bower_components/angular-drag-drop/build/ng-drag.min.js"></script>
    <!-- Angular Satellizer -->
    <script src='/bower_components/satellizer/dist/satellizer.min.js'></script>
  
    <!-- Custom js -->
    <script src="/js/front.js"></script>

    <!-- Angular directives / Controllers  -->
    <script src='/js/directives/user-state-provider.js'></script>
    <script src='/js/controllers/trip-controller.js'></script>
    <script src='/js/controllers/user-controller.js'></script>
</body>

</html>