<div class="container" ng-show='event'>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-3">
            <div class="result-card">
                <div id="pic">
                    <img src="/views/images/zipline.jpg" alt="">
                </div>
                <div id="card-content">
                    <h3 class="result-title">AVA Cliffside Zipline</h3>
                    <br>
                    <span class="detail">Address: 431 CO-103, Idaho Springs,
                    <br>
                    CO 80452
                    <br>
                    Phone: (970) 423-7031
                    <br>
                    Website: <a href="http://www.coloradozipline.net/">http://www.coloradozipline.net</a>
                    </span>
        
                  <hr>
                    <div class="starbox"></div>
                    <div class="starbox"></div>
                    <div class="starbox"></div>
                    <div class="starbox"></div>
                    <div class="starbox"></div><br>
                        <p class="description">
                       "So much fun! Tony and Travis made the experience easy and fun. It was cool that there was other "optional" things to do throughout the course. I'd definitely go back again!"
                        </p>
                                <hr>
                                <span class="aqua"><h4>COST</h4></span>
                      <p class="price">
                        $89 per person for adults and $79 for children (12 and under) for a half day trip
                    </p>
                </div>
            </div>
        </div>
     </div>
</div>