<section ng-controller='HomeController as hc'>
  <div class="itin-div">
  <div class="logobox">
    <span class="logo"> Roamrr</span>
  </div>
  <div class="main-itin" ng-controller='MainController as mc'>
    <div id="itin_header">
      <h3> Thanks {{mc.userInfo.displayName}} for registering!</h3>
      <br>
      <h4>Here's your itinerary: </h4>
      <h5>(Have fun!)</h5>
      <div class="friend-box">
        <span style="margin-right:10px;font-size:1.25em;padding-bottom:5px;" >Share your plans with your friends!</span>
        <div class="col-sm-6">
          <input type="email" class="form-control" placeholder="Enter your friends email address" ng-required="true" required ng-model="lc.new_user.email" />
        </div>
        <input type="submit" id="friendsSubmit" value="Share" class="btn btn-warning" data-toggle="modal" data-target="#">
      </div>
    </div>
    <div class="container" ng-repeat='st in stuff'>
      <div class="itin-collection">
        <!-- Itinerary- results to repeat on following div-->
        <div id="itinerary">
          <div id="leftbox">
            <img class="pic-it" src={{st.image_url}} alt="">
          </div>
          <div id="rightbox">
            <h3 class="itin-title">{{st.name}}</h3>
            <br>
            <span class="detail">{{st.location.display_address}}
            <br>
            Phone: {{st.display_phone}}
            <br>
            Website: <a href={{st.url}}>Got to the Site!</a>
            </span>
            <hr>
            <!-- <span class="aqua"><h5>COST</h5></span> -->
            <!--  <p class="price">
              $89 per person for adults and $79 for children (12 and under) for a half day trip
              </p> -->
          </div>
        </div>
        <!--           End of Itinerary Div -->
      </div>
    </div>
  </div>
</section>