   <!-- Map Section -->
    <section id="mapdiv" ng-show='home'>
        <div class="blue1"> Roamrr...like a local.</div>
        <div id="map"></div>
        <div class="blue2">
            Drop & drag your pin to the destination above you would like to explore.
            <br>
            <a href="activity_selection.html" type="button" class="btn btn-primary btn-sm outline">Let's Go </a>
            <br>
        </div>


    </section>
    <!-- Bottom of Map Section
 -->

    <script src='/bower_components/jquery/dist/jquery.min.js'></script>

    <script src="/js/front.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB47TKXs1AAflxa1PA-WNj6UZ2Ylfd48DE&libraries=places&callback=initMap">

</script>
