<!-- Top of Header -->
    
    <header>

        <div class="row">
            <div class="logobox">
                <span class="logo">Roamrr</span>
            </div>
        </div>


        <div class="intro-text">
            <div class="intro-heading">Where do you want
                <br>to go today?</div>
            <br>
            <a  id="scroll" href="#mapdiv"> <img src="../views/images/down_circle.svg" />
            </a>

        </div>
    </header>

    <!-- Bottom of Header -->
   <!-- Map Section -->

    <section id="mapdiv" ng-show='home'>
        <div class="blue1"> Roamrr...like a local.</div>
        <div id="map"></div>
        <div class="blue2" ng-controller='HomeController as hm'>
            Drop & drag your pin to the destination above you would like to explore.
            <br>
            <form ng-submit='hm.mapFunc()'>
            <input type="submit"  class='btn btn-primary btn-sm outline' name="Let's Go">
            </form>
          <!--   <a href="/activity" type="button" class="btn btn-primary btn-sm outline" ng-model=''>Let's Go </a> -->
            <br>
        </div>


    </section>

    <!-- Bottom of Map Section-->

<!-- <script src="/js/front.js"></script> -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB47TKXs1AAflxa1PA-WNj6UZ2Ylfd48DE&libraries=places&callback=initMap">

</script>
