<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
        <li class"active"><a class = "visible-phone" href="/">WDI Project -Roamrr</a></li>
        <li><a href="/team">The Team</a></li>
        <li><a href="https://trello.com/b/g2CM30fa/project-3-travel">Trello User Stories & Sprints</a></li>
        <li><a href="https://raw.githubusercontent.com/git-clay/Project_3/master/Wireframes/wireframes.png">Original Wireframes</a></li> 
        <li><a href="/splash">Splash</a></li> 
        <li><a href="https://github.com/git-clay/Project_3/blob/master/README.md">ReadMe</a></li>    
      </ul>


        <button ng-if='!mc.isAuth' class="reg btn btn-primary btn-md outline" ><a id="logBtn" href="/login" >Log In</a></button>
        <button ng-if='mc.isAuth' class="reg btn btn-primary btn-md outline" ><a id="logBtn" href="/profile" >Go To Profile</a></button>
        <button ng-if='mc.isAuth' class="reg btn btn-primary btn-md outline" ><a id="logBtn" href="/logout" >Logout</a></button>
    
    </div>
  </div> 
</nav>