<h3>{{main.currentUser.displayName}}</h3>
<hr>
<p><strong>Email:</strong> {{main.currentUser().email}}</p>
<p><strong>Username:</strong> {{main.currentUser().username}}</p>
<p><strong>Joined:</strong> {{main.currentUser().created}}</p>
<p><strong>Posts:</strong> {{main.currentUser().posts.length}}</p>

<hr>
<a href="#" ng-click="profile.showEditForm=true" ng-hide="profile.showEditForm" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Profile</a>

<!-- TODO #13 -->
<div ng-show='profile.showEditForm'>
	<p><strong>Email:</strong> {{main.currentUser().email}}</p>
	<p><strong>Username:</strong> {{main.currentUser().username}}</p>
	<p><strong>Joined:</strong> {{main.currentUser().created}}</p>
	<p><strong>Posts:</strong> {{main.currentUser().posts.length}}</p>
</div>