<a href="#" ng-click="profile.showEditForm=true" ng-hide="profile.showEditForm" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Profile</a>

<div ng-show='profile.showEditForm'>
	<p><strong>Email:</strong> {{main.currentUser().email}}</p>
	<p><strong>Username:</strong> {{main.currentUser().username}}</p>
	<p><strong>Joined:</strong> {{main.currentUser().created}}</p>
	<p><strong>Posts:</strong> {{main.currentUser().posts.length}}</p>
</div>

<section ng-controller='HomeController as hc'>
  <div class="itin-div">
  <div class="logobox">
    <span class="logo"> Roamrr</span>
  </div>
  <div class="main-itin">
    <div id="itin_header">
      <h3> Welcome Back {{mc.userInfo.displayName}}!</h3>
      <br>
      <h4>Here are your saved trips: </h4>
      <div class="friend-box">
        <span style="margin-right:10px;font-size:1.25em;padding-bottom:5px;" >Share your plans with your friends!</span>
        <div class="col-sm-6">
          <input type="email" class="form-control" placeholder="Enter your friends email address" ng-required="true" required ng-model="lc.new_user.email" />
        </div>
        <input type="submit" id="friendsSubmit" value="Share" class="btn btn-primary btn-md outline" data-toggle="modal" data-target="#">
      </div>
    </div>
    <div class="container" ng-repeat='st in savedTrips'>
      <div class="itin-collection">
        <!-- Itinerary- results to repeat on following div-->
        <div id="itinerary">
          <div id="leftbox">
            <img class="pic-it" src={{st.image_url}} alt="">
          </div>
          <div id="rightbox">
            <h3 class="itin-title">{{st.where}}</h3>
            <br>
            <span class="detail">{{st.howLong}}
            <br>
            Phone: {{st.events}}
            <br>
    <!-- Website: <a href={{st.url}}>Got to the Site!</a> -->
            </span>
            <hr>
         
          </div>
        </div>
        <!--           End of Itinerary Div -->
      </div>
    </div>
  </div>
</section>