<h3 class="text-center">Welcome!</h3>
  <hr>
  <form ng-submit="sc.signup()">
  	<div class="form-group">
  	  <input type="text" ng-model="sc.new_user.displayName" class="form-control" placeholder="Full Name">
  	</div>
    <div class="form-group">
      <input type="text" ng-model="sc.new_user.username" class="form-control" placeholder="Username">
      </div>
    <div class="form-group">
      <input type="text" ng-model="sc.new_user.email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" ng-model="sc.new_user.password" class="form-control" placeholder="Password">
    </div>
    <input type="submit" value="Sign Up" class="btn btn-block btn-info">
  </form>
  <br>
  <p class="text-muted">Already have an account? <a ui-sref="login">Log in here.</a></p>
