
<div class="splash">
    <div class="splash-content">

           <span class="splashlogo logo"> Roamrr</span>
     <div class="main-itin">  <h1 class="yellow shadow">Travel Like a Local</h1></div>
    <div class="splash-text shadow"> Do you love exploring new places, and <br> like to hit the ground running when you get there? <br>Join Roamrr - and get the scoop on your next travel destination - in just two taps.<br>
   
    </div>
<div class="splashlogo">
  <a id="activitySubmit" class="button btn btn-warning"   href="/">Let's Go!</a>
</div>

    </div>
        <!-- End Of Choices-Div -->

</div>