
<div class="teambackground">
    <div Class="temahdline">
    <h1>The Team</h1>
    <hr style="width:75%;"">
    </div>
<div class="teamdiv">
    <div id="nate">
    <img src="views/images/nate.png">
    <h4>Nathan Leibowitz</h4>
    <div class="para">
      Obsessive about building a better search engine, dry code and morning burritos.
    </div>
    <a href="https://github.com/nleibow"><img src="views/images/GitHub-Mark.png"></a>
        <a href="https://www.linkedin.com/in/nathan-leibowitz"><img src="views/images/linkedin.png"></a>
    </div>
    <div id="clay">
    <img src="views/images/clay.png">
    <h4>Clay Smith</h4>
    <div class="para">
       Can non-chalantly configure a full-stack backend with a 70 lb. Black Lab spread across his keyboard.
    </div>
        <a href="https://github.com/git-clay"><img src="views/images/GitHub-Mark.png"></a>
        <a href="https://www.linkedin.com/in/claytonsmithdeveloper"><img src="views/images/linkedin.png"></a>
    </div>
    <div id="gisella">
    <img src="views/images/gisella.png">
    <h4>Gisella Walter</h4>
     <div class="para">
       Regularly dreams about rearranging her living room using flexboxes, remembers when flash pre-loaders were de rigueur.
    </div>
        <a href="https://github.com/GisellaBella"><img src="views/images/GitHub-Mark.png"></a>
        <a href="https://www.linkedin.com/in/gisellawalter"><img src="views/images/linkedin.png"></a>
    </div>
</div>    
</div>
